/* JOB APP */
.jobs-app {
    display: none;
    height: 100%;
    width: 100%;
    background: rgb(243, 243, 243);
    overflow: hidden;
}
.job-list {
    position: relative;
    width: 95%;
    height: 6vh;
    background-color: rgba(31, 31, 31, 0.89);
    margin: 2.5%;
    border-radius: .5vh;
}

/* JOB NO 1 */
.jobs-header {
    position: absolute;
    width: 100%;
    height: 12vh;
    background-color: #7e0082;
    top: 0;
    border-bottom: .3vh solid #7e0082;
    color: white;
    font-family: 'Samsung Sans Medium';
    font-size: 1.8vh;
}
.jobs-header > p {
    line-height: 12vh;
    text-indent: 2vh;
}

.jobs-header > span {
    position: absolute;
    top: 9vh;
    left: 2vh;
    font-size: 1.2vh;
    height: 2vh;
    color: rgba(255, 255, 255, 0.842);
}
.jobs-list {
    position: absolute;
    background-color: #00000033;
    width: 90%;
    height: 73%;

    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 3%;

    border-radius: .5vh;

    overflow-y: scroll;
}
.jobs-list::-webkit-scrollbar {
    display: none;
}

.no-jobs {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Samsung Sans Medium';
    font-size: 1.3vh;

    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;

    max-width: 24vh;

    color: rgb(255, 255, 255);
}
.no-job-list {
    position: relative;
    width: 95%;
    height: 6vh;
    background-color: rgba(31, 31, 31, 0.89);
    margin: 2.5%;

    border-radius: .5vh;
}
.no-job-list:hover {
    background-color: #7e0082;
    color: rgb(10, 10, 10);
    cursor: pointer;
}

/* JOB NO 2 */
.no2-jobs-header {
    position: absolute;
    width: 100%;
    height: 12vh;
    background-color: #7e0082;
    top: 0;
    border-bottom: .3vh solid #7e0082;
    color: white;
    font-family: 'Samsung Sans Medium';
    font-size: 1.8vh;
}
.no2-jobs-header > p {
    line-height: 12vh;
    text-indent: 2vh;
}
.no2-jobs-header > span {
    position: absolute;
    top: 9vh;
    left: 2vh;
    font-size: 1.2vh;
    height: 2vh;
    color: rgba(255, 255, 255, 0.842);
}
.no2-jobs-list {
    position: absolute;
    width: 90%;
    height: 60%;

    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 3%;

    border-radius: .5vh;

    overflow-y: scroll;
}
.no2-jobs-list::-webkit-scrollbar {
    display: none;
}

.no2-jobs {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Samsung Sans Medium';
    font-size: 1.3vh;

    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;

    max-width: 24vh;

    color: rgb(255, 255, 255);
}
.no2-job-list {
    position: relative;
    width: 95%;
    height: 6vh;
    background-color: rgba(31, 31, 31, 0.89);
    margin: 2.5%;

    border-radius: .5vh;
}
.no2-job-list:hover {
    background-color: #7e0082;
    color: rgb(10, 10, 10);
    cursor: pointer;
}

/* JOB NO 3 */
.no3-jobs-header {
    position: absolute;
    width: 100%;
    height: 12vh;
    background-color: #7e0082;
    top: 0;
    border-bottom: .3vh solid #7e0082;
    color: white;
    font-family: 'Samsung Sans Medium';
    font-size: 1.8vh;
}
.no3-jobs-header > p {
    line-height: 12vh;
    text-indent: 2vh;
}
.no3-jobs-header > span {
    position: absolute;
    top: 9vh;
    left: 2vh;
    font-size: 1.2vh;
    height: 2vh;
    color: rgba(255, 255, 255, 0.842);
}
.no3-jobs-list {
    position: absolute;
    width: 90%;
    height: 47%;

    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 3%;

    border-radius: .5vh;

    overflow-y: scroll;
}
.no3-jobs-list::-webkit-scrollbar {
    display: none;
}

.no3-jobs {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Samsung Sans Medium';
    font-size: 1.3vh;

    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;

    max-width: 24vh;

    color: rgb(255, 255, 255);
}
.no3-job-list {
    position: relative;
    width: 95%;
    height: 6vh;
    background-color: rgba(31, 31, 31, 0.89);
    margin: 2.5%;

    border-radius: .5vh;
}
.no3-job-list:hover {
    background-color: #7e0082;
    color: rgb(10, 10, 10);
    cursor: pointer;
}

/* JOB NO 4 */
.no4-jobs-header {
    position: absolute;
    width: 100%;
    height: 12vh;
    background-color: #7e0082;
    top: 0;
    border-bottom: .3vh solid #7e0082;
    color: white;
    font-family: 'Samsung Sans Medium';
    font-size: 1.8vh;
}
.no4-jobs-header > p {
    line-height: 12vh;
    text-indent: 2vh;
}
.no4-jobs-header > span {
    position: absolute;
    top: 9vh;
    left: 2vh;
    font-size: 1.2vh;
    height: 2vh;
    color: rgba(255, 255, 255, 0.842);
}
.no4-jobs-list {
    position: absolute;
    width: 90%;
    height: 34%;

    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 3%;

    border-radius: .5vh;

    overflow-y: scroll;
}
.no4-jobs-list::-webkit-scrollbar {
    display: none;
}

.no4-jobs {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Samsung Sans Medium';
    font-size: 1.3vh;

    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;

    max-width: 24vh;

    color: rgb(255, 255, 255);
}
.no4-job-list {
    position: relative;
    width: 95%;
    height: 6vh;
    background-color: rgba(31, 31, 31, 0.89);
    margin: 2.5%;

    border-radius: .5vh;
}
.no4-job-list:hover {
    background-color: #7e0082;
    color: rgb(10, 10, 10);
    cursor: pointer;
}

/* JOB NO 5 */
.no5-jobs-header {
    position: absolute;
    width: 100%;
    height: 12vh;
    background-color: #7e0082;
    top: 0;
    border-bottom: .3vh solid #7e0082;
    color: white;
    font-family: 'Samsung Sans Medium';
    font-size: 1.8vh;
}
.no5-jobs-header > p {
    line-height: 12vh;
    text-indent: 2vh;
}
.no5-jobs-header > span {
    position: absolute;
    top: 9vh;
    left: 2vh;
    font-size: 1.2vh;
    height: 2vh;
    color: rgba(255, 255, 255, 0.842);
}
.no5-jobs-list {
    position: absolute;
    width: 90%;
    height: 21%;

    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 3%;

    border-radius: .5vh;

    overflow-y: scroll;
}
.no5-jobs-list::-webkit-scrollbar {
    display: none;
}

.no5-jobs {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Samsung Sans Medium';
    font-size: 1.3vh;

    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;

    max-width: 24vh;

    color: rgb(255, 255, 255);
}
.no5-job-list {
    position: relative;
    width: 95%;
    height: 6vh;
    background-color: rgba(31, 31, 31, 0.89);
    margin: 2.5%;

    border-radius: .5vh;
}
.no5-job-list:hover {
    background-color: #7e0082;
    color: rgb(10, 10, 10);
    cursor: pointer;
}